* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

ul, li {
  list-style: none; }

div.container {
  margin: 0 60px; }

header {
  background: cadetblue;
  padding: 30px 0; }

main {
  padding: 50px 0;
  display: flex; }
  main div.container {
    display: flex; }

section.card-display {
  background: aqua;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

div.font-card {
  background: beige;
  margin: 10px;
  flex-grow: 1;
  flex-basis: 300px;
  height: 200px; }
  div.font-card * {
    text-transform: capitalize; }
  div.font-card h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 28px; }
  div.font-card p {
    font-size: 22px;
    font-style: italic;
    text-align: center; }

aside.sidebar {
  width: 30%;
  background: burlywood;
  padding: 10px; }

div.favorite {
  padding: 10px; }
  div.favorite h2 {
    padding: 5px; }
  div.favorite li {
    background: bisque;
    margin: 5px 0; }
