div.sidebar {
    width: 23vw;
    background: chocolate;
    padding: 0 10px;
    margin: 0;
    position: fixed;
    right: 3vw;
    height: 92vh;
    div.card-content {
        padding: 0;
    }
    div.collapsible-body {
        padding: 0;
    }
    ul.collapsible li.favorite div.collapsible-header i {
        color: #f44336;
    }
    span.badge {
        font-weight: bold;
    }
}