.sidebar {
  width: 23vw;
  margin-top: 6vh;
  padding: 0 10px;
  position: fixed;
  right: 3vw;
  height: 92vh; }
  .sidebar div.card-content {
    padding: 0; }
  .sidebar div.collapsible-body {
    padding: 0; }
