aside.sidebar {
    width: 23vw;
    background: chocolate;
    // margin: 0 5px;
    margin-top: 7vh;
    padding: 0 10px;
    position: fixed;
    right: 3vw;
    height: 92vh;
    div.collapsible-body {
        padding: 0;
    }
}